<table>
  <thead>
    <tr>
      <th class="<%= 'sorted' if params[:sort_by] == 'title' %>">
      <%= link_to 'Title', movies_path(sort_by: 'title', sort_order: 'asc') %>
      </th>
      <th><%= link_to 'Rating', movies_path(sort_by: 'rating', sort_order: 'asc') %></th>
      <th><%= link_to 'Release Date', movies_path(sort_by: 'release_date', sort_order: 'asc') %></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
